@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #121417;
  font-family: "Overpass", sans-serif;
}

h1 {
  color: #fff;
}

p {
  font-size: 15px;
  color: #959eac;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container,
.submit-con {
  height: 400px;
  width: 400px;
  background-color: #252d37;
  border-radius: 20px;
}

.container {
  padding: 30px;
}

.container .star {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background-color: #414753;
}

.container .star img {
  padding: 15px;
}

.container .head {
  margin-top: 30px;
}

.container .head p {
  margin-top: 10px;
}

.container .ratings .rating {
  width: 42px;
  height: 42px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  color: #7c8798;
  background-color: #414753;
  -webkit-transition: ease all 300ms;
  transition: ease all 300ms;
  cursor: pointer;
}

.container .ratings .rating:hover {
  background-color: #fb7413;
  color: #fff;
}

.container .ratings .rating.active {
  background-color: #959eac;
  color: #fff;
}

.container .btn {
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.container .btn button {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #fb7413;
  letter-spacing: 2px;
  border: none;
  outline: none;
  border-radius: 30px;
  -webkit-transition: ease all 300ms;
  transition: ease all 300ms;
  cursor: pointer;
}

.container .btn button:hover {
  color: #fb7413;
  background-color: #fff;
}

.submit-con {
  padding: 30px;
}

.submit-con .illustration {
  margin: 10px 0 30px;
}

.submit-con .sel {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 30px;
  padding: 4px 12px;
  border-radius: 15px;
  color: #fb7413;
  background-color: #353f40;
  font-size: 14px;
}

.submit-con .texts {
  text-align: center;
}

.submit-con .texts h1 {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */