@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
}

h1 {
  color: #fff;
}

p {
  font-size: 15px;
  color: hsl(217, 12%, 63%);
}

.flex {
  display: flex;

  &-fd-c {
    flex-direction: column;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }
}

.container,
.submit-con {
  height: 400px;
  width: 400px;

  background-color: hsl(213, 19%, 18%);
  border-radius: 20px;
}

.container {
  // display: none;
  padding: 30px;

  .star {
    width: 42px;
    height: 42px;

    border-radius: 50px;
    background-color: hsl(219, 12%, 29%);

    img {
      padding: 15px;
    }
  }

  .head {
    margin-top: 30px;

    p {
      margin-top: 10px;
    }
  }

  .ratings {
    .rating {
      width: 42px;
      height: 42px;
      margin-top: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 50px;
      color: hsl(216, 12%, 54%);
      background-color: hsl(219, 12%, 29%);
      transition: ease all 300ms;
      cursor: pointer;

      &:hover {
        background-color: hsl(25, 97%, 53%);
        color: #fff;
      }

      &.active {
        background-color: hsl(217, 12%, 63%);
        color: #fff;
      }
    }
  }

  .btn {
    width: 100%;
    height: 40px;
    margin-top: 40px;

    button {
      width: 100%;
      height: 100%;

      color: #fff;
      background-color: hsl(25, 97%, 53%);
      letter-spacing: 2px;
      border: none;
      outline: none;
      border-radius: 30px;
      transition: ease all 300ms;

      cursor: pointer;

      &:hover {
        color: hsl(25, 97%, 53%);
        background-color: #fff;
      }
    }
  }
}

.submit-con {
  padding: 30px;

  .illustration {
    margin: 10px 0 30px;
  }
  .sel {
    width: fit-content;
    margin: 0 auto 30px;
    padding: 4px 12px;

    border-radius: 15px;
    color: hsl(25, 97%, 53%);
    background-color: hsl(186, 9%, 23%);
    font-size: 14px;
  }

  .texts {
    text-align: center;

    h1 {
      margin-bottom: 10px;
    }
  }
}

.hidden {
  display: none;
}
